# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.env
.venv/
venv/
build/
dist/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

ml-zero-to-hero/lab-5/test_images
ml-zero-to-hero/lab-5/tmp
ml-zero-to-hero/lab-5/rps.keras